Ikman cars.json
{
  "name": "Ikman cars",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2944,
        1312
      ],
      "id": "2255011f-d8f3-40fc-93c4-0e9239cba1aa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "base-url",
              "name": "baseUrl",
              "value": "={{ $vars.ikmanBaseUrl || 'https://ikman.lk/en/ads/sri-lanka/cars' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        1168
      ],
      "id": "e1157bb1-d96a-462e-b597-f67cd436f92c",
      "name": "Set base URL"
    },
    {
      "parameters": {
        "jsCode": "// User provides baseUrl in 'Set base URL'; paginate 10 pages with ikman query params\nconst baseUrl = ($input.first().json.baseUrl || 'https://ikman.lk/en/ads/sri-lanka/motorbikes-scooters').toString().trim();\nconst sep = baseUrl.indexOf('?') >= 0 ? '&' : '?';\nconst query = 'sort=date&order=desc&buy_now=0&urgent=0&page=';\nconst pages = 10;\nconst out = [];\nfor (let p = 1; p <= pages; p++) {\n  out.push({ json: { baseUrl: baseUrl, page: p, url: baseUrl + sep + query + p } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        1168
      ],
      "id": "604c25ed-b7ca-42f9-ab67-a492f4c38bc6",
      "name": "Generate page URLs"
    },
    {
      "parameters": {
        "jsCode": "// Clear collected results; mutate returned object in place (n8n persists it automatically)\nconst data = $getWorkflowStaticData('global');\ndata.collected = [];\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3616,
        1168
      ],
      "id": "42584947-a4af-4e48-a47c-ea1d06e95129",
      "name": "Init static"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3840,
        1168
      ],
      "id": "68880b8c-5139-4192-bf1a-7bd6938b2064",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4064,
        896
      ],
      "id": "8e19733d-4542-4cdd-96e1-c1c5738c62a8",
      "name": "Wait (throttle)",
      "webhookId": "89b64d9f-9699-4420-b01e-1fb970ac3180"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4288,
        896
      ],
      "id": "f2235772-797c-4ac2-b0c1-350b2e670412",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// One item per page; get HTML from body/data and strip tags for extractor\nfor (const item of $input.all()) {\n  const raw = item.json.body || item.json.data || item.json;\n  const html = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  item.json.cleanText = html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4512,
        896
      ],
      "id": "ae37b26d-183f-4530-a765-33ef20e19534",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "text": "={{ $json.cleanText }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "[{\n  \"id\": \"69a128ffdd3dcd5fb2649a78\",\n  \"slug\": \"bajaj-pulsar-n160-primiem-brand-new-2026-for-sale-colombo-9\",\n  \"title\": \"Bajaj Pulsar N160 primiem brand new 2026\",\n  \"description\": \"Colombo, Motorbikes\",\n  \"details\": \"0 km\",\n  \"subtitle\": \"\",\n  \"imgUrl\": \"https://i.ikman-st.com/bajaj-pulsar-n160-primiem-brand-new-2026-for-sale-colombo-9/9115fa6f-6187-4e4e-9435-9aa15360b75d/142/107/cropped.jpg\",\n  \"images\": {\n    \"ids\": [\n      \"9115fa6f-6187-4e4e-9435-9aa15360b75d\",\n      \"b08f7a00-614b-4b62-9fb0-bc7bf0f5abc2\",\n      \"5477b6a8-7184-4faf-bd17-8ce8296b4dd6\",\n      \"fb9f73ad-38c2-40db-82e5-da9cdcc2ed31\",\n      \"27e1aebd-b8a0-4861-a039-e1e0c592cb7d\",\n      \"66c22de9-ccaf-47cb-8af6-40d03edc6c73\"\n    ],\n    \"base_uri\": \"https://i.ikman-st.com\"\n  },\n  \"price\": \"Rs 279,000\",\n  \"discount\": 0,\n  \"mrp\": 0,\n  \"isMember\": true,\n  \"isAuthDealer\": false,\n  \"isFeaturedMember\": false,\n  \"isFeaturedAd\": false,\n  \"showFeaturedAdUI\": false,\n  \"membershipLevel\": \"premium\",\n  \"shopName\": \"\",\n  \"isDoorstepDelivery\": false,\n  \"isExtraImages\": false,\n  \"isDeliveryFree\": false,\n  \"isTopAd\": false,\n  \"isUrgentAd\": false,\n  \"timeStamp\": \"13 minutes\",\n  \"lastBumpUpDate\": \"just now\",\n  \"category\": {\n    \"id\": 402,\n    \"name\": \"Motorbikes\"\n  },\n  \"isVerified\": false,\n  \"isJobAd\": false,\n  \"location\": \"Colombo\",\n  \"adType\": \"for_sale\",\n  \"isLocalJob\": false\n}]",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.",
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        4736,
        784
      ],
      "id": "ee3cff29-be0b-487b-b796-9b7570a0204e",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "jsCode": "// Accumulate extractor result; mutate returned object in place (n8n persists it automatically)\nconst data = $getWorkflowStaticData('global');\ndata.collected = data.collected || [];\ndata.collected.push($input.first().json);\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        896
      ],
      "id": "32b5a9f5-6edc-4317-b0dc-402e9ee59761",
      "name": "Collect page"
    },
    {
      "parameters": {
        "jsCode": "// Emit all collected extractor results (one item per page)\nconst data = $getWorkflowStaticData('global') || {};\nconst arr = data.collected || [];\nreturn arr.map(function (j) { return { json: j }; });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4064,
        1184
      ],
      "id": "4b2d24e0-84a3-4f55-a024-be547d1b5161",
      "name": "Emit collected"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4816,
        1008
      ],
      "id": "b6cdb482-b26d-4b9c-bbca-60cc0588ab92",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all pages from Information Extractor; output one flat row per listing\nconst items = $input.all();\nconst rows = [];\n\nfunction toRow(ad) {\n  if (!ad || typeof ad !== 'object') return null;\n  const cat = ad.category || {};\n  const img = ad.images || {};\n  const ids = img.ids || [];\n  return {\n    id: ad.id,\n    slug: ad.slug,\n    title: ad.title,\n    description: ad.description,\n    details: ad.details,\n    subtitle: ad.subtitle || '',\n    imgUrl: ad.imgUrl,\n    price: ad.price,\n    discount: ad.discount,\n    mrp: ad.mrp,\n    isMember: ad.isMember,\n    isAuthDealer: ad.isAuthDealer,\n    isFeaturedAd: ad.isFeaturedAd,\n    membershipLevel: ad.membershipLevel || '',\n    shopName: ad.shopName || '',\n    timeStamp: ad.timeStamp,\n    lastBumpUpDate: ad.lastBumpUpDate,\n    categoryId: cat.id,\n    categoryName: cat.name || '',\n    isVerified: ad.isVerified,\n    isJobAd: ad.isJobAd,\n    location: ad.location,\n    adType: ad.adType,\n    isTopAd: ad.isTopAd,\n    isUrgentAd: ad.isUrgentAd,\n    imageCount: ids.length\n  };\n}\n\nfunction toList(j) {\n  if (Array.isArray(j)) return j;\n  if (j && Array.isArray(j.output)) return j.output;\n  if (j && typeof j.result !== 'undefined') {\n    const r = j.result;\n    if (Array.isArray(r)) return r;\n    if (typeof r === 'string') { try { const a = JSON.parse(r); return Array.isArray(a) ? a : [a]; } catch (e) { return []; } }\n    if (r && typeof r === 'object') return [r];\n  }\n  if (j && typeof j.id === 'string') return [j];\n  return [];\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const list = toList(items[i].json);\n  for (let k = 0; k < list.length; k++) {\n    const row = toRow(list[k]);\n    if (row && row.id) rows.push({ json: row });\n  }\n}\n\nreturn rows.length ? rows : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        1184
      ],
      "id": "1bd919b0-2790-4be7-bb5c-81744737450b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imgUrl",
              "displayName": "imgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "images",
              "displayName": "images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount",
              "displayName": "discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mrp",
              "displayName": "mrp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isMember",
              "displayName": "isMember",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isAuthDealer",
              "displayName": "isAuthDealer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isFeaturedMember",
              "displayName": "isFeaturedMember",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isFeaturedAd",
              "displayName": "isFeaturedAd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "showFeaturedAdUI",
              "displayName": "showFeaturedAdUI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membershipLevel",
              "displayName": "membershipLevel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shopName",
              "displayName": "shopName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isDoorstepDelivery",
              "displayName": "isDoorstepDelivery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isExtraImages",
              "displayName": "isExtraImages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isDeliveryFree",
              "displayName": "isDeliveryFree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isTopAd",
              "displayName": "isTopAd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isUrgentAd",
              "displayName": "isUrgentAd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeStamp",
              "displayName": "timeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastBumpUpDate",
              "displayName": "lastBumpUpDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isVerified",
              "displayName": "isVerified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isJobAd",
              "displayName": "isJobAd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "adType",
              "displayName": "adType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isLocalJob",
              "displayName": "isLocalJob",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoryId",
              "displayName": "categoryId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoryName",
              "displayName": "categoryName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageCount",
              "displayName": "imageCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5312,
        1184
      ],
      "id": "3922b493-3216-485a-ba08-829261337db1",
      "name": "Google Sheets Append",
      "credentials": {}
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4288,
        1472
      ],
      "id": "58b5357f-e68d-470b-a9ee-cae00717f848",
      "name": "Google Sheets Read",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mark-new",
              "name": "_source",
              "value": "new",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        1184
      ],
      "id": "45729e89-e46c-4739-b343-4179ba0560bb",
      "name": "Mark new rows"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9ca1eb-109a-4e5a-bedb-506fe71dfa1e",
              "name": "_source",
              "value": "existing",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        1472
      ],
      "id": "da962f15-4358-45cb-a02a-1162315f1e70",
      "name": "Mark existing rows"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4800,
        1184
      ],
      "id": "ad34419f-07a2-44ef-86e7-9f95532a7b76",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Input: merged items from Merge (new rows + existing sheet rows), each has _source\nconst items = $input.all();\nconst existingIds = new Set();\nconst newRows = [];\nfor (let i = 0; i < items.length; i++) {\n  const j = items[i].json;\n  const src = j && j._source;\n  const id = j && (j.id || j.Id);\n  if (src === 'existing' && id != null && id !== '') existingIds.add(String(id));\n  if (src === 'new') newRows.push(items[i]);\n}\nconst out = [];\nfor (let k = 0; k < newRows.length; k++) {\n  const j = newRows[k].json;\n  const id = j && j.id;\n  if (id != null && id !== '' && !existingIds.has(String(id))) {\n    const copy = Object.assign({}, j);\n    delete copy._source;\n    out.push({ json: copy });\n    existingIds.add(String(id));\n  }\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        1184
      ],
      "id": "f526e90a-fdf2-408e-b756-8af9506799b3",
      "name": "Filter duplicates"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set base URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set base URL": {
      "main": [
        [
          {
            "node": "Generate page URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate page URLs": {
      "main": [
        [
          {
            "node": "Init static",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init static": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Emit collected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait (throttle)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (throttle)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Collect page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect page": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit collected": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Mark new rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark new rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Read": {
      "main": [
        [
          {
            "node": "Mark existing rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark existing rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter duplicates": {
      "main": [
        [
          {
            "node": "Google Sheets Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f481824b-4daf-498e-9093-3026fbda9f83",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "JQdBiHfWHnIijbkv",
  "tags": []
}